.navbar-toggler,
.nav-link,
.btn {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link:hover,
.nav-link:active,
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.nav-link.active {
  background-color: transparent;
}
